---
import { text } from "../../text/text";

const locale = Astro.currentLocale;
---
        <!doctype html>
<html lang={locale}>
    <head>
    <meta charset="UTF-8" />
    <meta name="description" content={text.description[locale]} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{text.title[locale]}</title>
</head>
<body>
<header>Header</header>
<div class="page">
    <h1>
        {text.heading[locale]}
    </h1>
</div>
<footer>Footer</footer>
</body>
</html>

<style>
    html,
    body {
    height: 100%;
    margin: 0;
}
    .page {
    min-height: 20%;
}
</style>