---
import { text } from "../../text";

const locale = Astro.currentLocale;
---
<!doctype html>
<html lang={locale}>
    <head>
    <meta charset="UTF-8" />
    <meta name="description" content={text.description[locale]} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{text.title[locale]}</title>
</head>
<body>
    <h1>{text.heading[locale]}</h1>
</body>
</html>